<!DOCTYPE html>
<html ng-app="max">
<head>
	<title>PRODUCTOS_MAX</title>
	<link rel="icon" type="text/css" href="images/favicon_3.ico">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
<body ng-controller="productoCTRL">
	<div class="row">
		<div class="col">
			<img src="images/logo.png" class="img">
		</div>
	</div>
	<br>
	<br>
	<br>
	<form method="POST">
			<div class="row">
				<div class="col">
						<input type="file" id="files" name="files[]" /><br />
						<output id="list"></output>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<h5>Product name</h5>
				<input type="text" name="name" ng-model="Producto.name">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<h5>Categories</h5>
				<!--<input type="text" name="categories" ng-model="Producto.Categories">-->
					<fieldset class="fiel">
						<select id="categories" name="user_categories" ng-model="Producto.Categories">
							<optgroup label="Categories">
							<option value="TV y Videos">TV y Videos</option>
							<option value="Celulares">Celulares</option>
							<option value="Lineas Blancas">Lineas Blancas</option>
							<option value="Videos Juegos">Videos Juegos</option>
							<option value="Computadoras y tables">Computadoras y tables</option>
							<option value="Audios">Audios</option>
							<option value="Audios para Vehiculos">Audios para Vehiculos</option>
							<option value="Camaras y Drones">Camaras y Drones</option>
							<option value="Audifonos y Bocinas">Audifonos y Bocinas</option>
							<option value="Prendas electronicas">Prendas electronicas</option>
							<option value="Cuidados Personales">Cuidados Personales</option>
							<option value="Ambientadores">Ambientadores</option>
							<option value="Contenido Digital">Contenido Digital</option>
							<option value="Telefonos fijos">Telefonos fijos</option>
							<option value="Bicicletas electronicas">Bicicletas electronicas</option>
							<option value="Hogar">Hogar</option>
							<option value="Paneles solares">Paneles solares</option>	
							</optgroup>
						</select>
					</fieldset>			
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<h5>Price</h5>
				<input type="number" name="price" min="300" max="20000" ng-model="Producto.Price">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<h5>Color</h5>
				<input type="color" name="color" placeholder="you selec color" ng-model="Producto.Color">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<h5>Quantity</h5>
				<input type="number" name="Quantity"  min="0" max="10000" ng-model="Producto.Quantity">
			</div>
		</div>	
		<br>
		<div class="row">
			<div class="col">
				<h5>Date of delivery</h5>
				<input type="date" name="date" ng-model="Producto.date">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<h5>Favorites</h5>
				<input type="checkbox" name="Favoritess" ng-model="Producto.favorites"> Add to Favorites
				<br>
				<input type="checkbox" name="Favoritess" ng-model="Producto.favorites"> Do not add to favorites
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<h5>offers</h5>
				<input type="checkbox" name="offers" ng-model="Producto.offers"> Yes
				<br>
				<input type="checkbox" name="offers" ng.model="Producto.offers"> No
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h5>Product model</h5>
				<textarea class="textA" ng-model="Producto.models"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button type="button" ng-click="cargarproductos(Producto)" onClick="reloadThePage()">cargar</button>
			</div>
		</div>
	</form>
	<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<script type="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-storage.js"></script>
	<script src="js/script.js"></script>

</body>
</html>